### Config files
manifest.json

### JetBrains template
.idea

### Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode

### SublimeText template
# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific
*.sublime-workspace

# Sublime-github package stores a github token in this file
# https://packagecontrol.io/packages/sublime-github
GitHub.sublime-settings

### Build
build

